---
import type { CollectionEntry } from "astro:content";

import Link from "~/components/common/link.astro";
import Icon from "~/components/common/icon.astro";

export interface Props {
	project: CollectionEntry<"projects">["data"];
	slug: string;
}

const { slug } = Astro.props;
const { title, type, description, source, cta, year } = Astro.props.project;
---

<article class="flex h-full flex-col gap-lg bg-secondary p-xl">
	<header class="flex flex-col gap-lg">
		<small class="font-semibold text-secondary">{type}</small>
		<h3>{title}</h3>
	</header>
	<p class="grow">{description}</p>
	<Link href={`/project/${slug}`} type="btn" kind="secondary">
		Article
		<Icon icon="right-arrow-alt" />
	</Link>
	<footer class="flex items-center justify-between gap-xl">
		<time datetime={year.toString()} class="font-bold">{year}</time>
		<ul class="flex justify-end gap-lg">
			{source ? (
				<li>
					<Link icon="github" href={source}>See source code</Link>
				</li>
			) : null}
			{cta ? (
				<li>
					<Link icon="link-external" href={cta.href}>{cta.text}</Link>
				</li>
			) : null}
		</ul>
	</footer>
</article>
