---
import type { CollectionEntry } from "astro:content";

import Link from "~/components/common/link.astro";

export interface Props {
	project: CollectionEntry<"projects">;
	slug: string;
}

const { data, render } = Astro.props.project
const { title, type, source, cta, year } = data;

const { Content } = await render()
---

<article class="flex h-full flex-col gap-lg bg-secondary p-xl [&>p]:grow [&>p]:text-base">
	<header class="flex flex-col gap-lg">
		<small class="font-semibold text-secondary">{type}</small>
		<h3 class="text-sm">{title}</h3>
	</header>
	<Content />
	<footer class="flex items-center justify-between gap-xl">
		<ul class="ml-[-0.75rem] flex justify-end">
			{source ? (
				<li>
					<Link icon="github" href={source}>See source code</Link>
				</li>
			) : null}
			{cta ? (
				<li>
					<Link icon="square-arrow-out-up-right" href={cta.href}>{cta.text}</Link>
				</li>
			) : null}
		</ul>
		<time datetime={year.toString()} class="font-bold font-mono">{year}</time>
	</footer>
</article>
