---
import Link from "~/components/common/link.astro";
import Icon from "~/components/common/icon.astro";

import common from "~/assets/svg/spritesheet/common.svg?url";

export interface Props {
	heading: string;
	links: Array<{
		name: string;
		href: string;
	}>
}

const { heading, links } = Astro.props;
---

<details class="group">
	<summary class="justify-between" data-btn="primary">
		{heading}
		<Icon title="Toggle disclosure">
			<use class="hidden group-open:block" href={`${common}#minus-square`} />
			<use class="group-open:hidden" href={`${common}#plus-square`} />
		</Icon>
	</summary>
	<ul class="mt-lg flex list-disc flex-col gap-md pl-xl lg:list-none lg:pl-0">
		{links.map(({ name, href }) => {
			return (
				<li>
					<Link href={href}>{name}</Link>
				</li>
			);
		})}
	</ul>
</details>
