---
import { version } from "~/root/package.json";

import PreloadFont from "./common/preload-font.astro";
import Footer from "./common/footer/footer.astro";
import SEO, { type Props as SEOProps } from "./common/seo.astro";
import SEOImage, { type Props as SEOImageProps } from "./common/seo-image.astro";
import FavouriteIcon, { type Props as FavouriteIconProps } from "./common/favicon.astro";

import CommonHead from "./common/common-head.astro";
import FeatureDetection from "./common/feature-detection.astro";

const BUILD_FINGERPRINT = `<!-- v${version} : ${process.env.VERCEL_ENV} - ${new Date().toUTCString()} -->`;

import "~/styles/global.scss";

export interface Props extends FavouriteIconProps, SEOProps {
	image?: SEOImageProps;
	classNames?: {
		main?: string;
	}
}

const { 
	favicon = "favicon",
	classNames = {},
	image,
	...seoProps
} = Astro.props;
---

<html lang="en" dir="ltr" data-js="off">
	<head>
		<Fragment set:html={BUILD_FINGERPRINT} />
		<CommonHead />
		<PreloadFont path="/fonts/space-grotesk/variable.woff2" />
		<PreloadFont path="/fonts/unbounded/variable.woff2" />
		<slot name="head" />
		<FavouriteIcon favicon={favicon} />
		<SEO {...seoProps} />
		<SEOImage {...image} />
		<FeatureDetection />
	</head>
	<body>
		<a class="-translate-x-1/2 -translate-y-1/2 offscreen focus-visible:left-1/2 focus-visible:top-1/2 sm:w-auto" data-btn="primary" href="#main">Skip to content</a>
		<main class={classNames.main} id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
